.player-turn {
  display: grid;
  justify-content: center;
  color: yellow;
  font-size: 2em;
}
.grid-container {
    display: grid;
    background-color: yellow;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    column-gap: 1em;
    row-gap: 1em;
    padding: 1em;
  }
  .grid-item {
    display: grid;
    background-color: blue;
    justify-content: center;
    color: yellow;
    padding: 1em;
  }