/* Box To Align And Contain Main Page Elements */
.box {
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
/* Picture Of Ken Jennings */
.opening-picture {
    width: 100%;
    height: 15em;
    object-fit: contain;
}
/* Play Button To Begin Game */
.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
}
